<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hello.css">
</head>
<body>
    <div class="container">
        <h2>Download Files</h2>
        <a href="/absolute"><button>Absolute Loader</button></a>
        <a href="/onepass"><button>One Pass Assembler</button></a>
        <a href="/pass1twopass"><button>Pass1 of Two pass Assembler</button></a>
        <a href="/pass2twopass"><button>Pass2 of Two pass Assembler</button></a>
        <a href="/relocation"><button>Relocation Loader</button></a>
        <a href="/add"><button>MASM Add</button></a>
        <a href="/biggest"><button>MASM Biggest</button></a>
        <a href="/bubble"><button>MASM Bubble sort</button></a>
        <a href="/fact"><button>MASM Factorial</button></a>
    </div>
</body>
</html>